#container-login {
  background-color: rgb(218, 218, 218);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 2rem;
}

.form {
  background-color: #f1f1f1;
  border: solid 1px;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  padding: 1rem;
}

.field {
  margin-top: 0.5rem;
}

.field input {
  width: 100%;
  outline: none;
  height: 2.3rem;
  padding: 0.4rem;
}

.container-btn {
  text-align: center;
  margin-top: 1.5rem;
}

.container-btn button {
  width: 5.5rem;
  height: 2rem;
}
