.dragon-thumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0.5rem;
  border: 2px solid #efefef;
  border-radius: 0.4rem;
  width: 200px;
  height: 200px;
  min-width: 140px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
}

.content-thumb { 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.btn-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.btn-actions button {
  width: 60px;
  height: 25px;
}